{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Bienvenue sur l'administration du Zoo d'Arcadia !{% endblock %}

{% block main %}

<a href="{{ path('app_accueil') }}">Retour à la page d'accueil du Zoo</a>

{% endblock %}