<footer class="footer">
        <p class="text_footer">
            © 2024 Zoo d'Arcadia. Tous droits réservés.
        </p>
       <nav class="footer_nav">
            <a target="_blank" href="https://facebook.com/">
                <img src="{{ asset('images/logo_fb.svg') }}" alt="Logo Facebook">
            </a>
            <a target="_blank" href="https://instagram.com/">
                <img src="{{ asset('images/logo_insta.svg') }}" alt="Logo Instagram">
            </a>
        </nav>
</footer>